/* This file is intentionally empty to avoid conflicts with Tailwind CSS */ 
* {
    scrollbar-width: none;
    scrollbar-color: transparent transparent;
    -ms-overflow-style: none; /* Internet Explorer and Edge */
       
}